<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <!-- Add your preferred CSS styles here -->
  <%- include("component/header",{username:username})%>
</head>
<body>
  <!-- <header>
    <h1>Contact Us</h1>
  </header> -->
   
  <main>
    <h2>Get in Touch</h2>
    <div>
        <b>Email:</b>example@gmail.com<br><br>
        <b>LinkedIn:</b>example/hk02/linkedin.com<br>
    </div>
  </main>
</body>
</html>
