<!DOCTYPE html>
<html>
<head>
  <title>My TODO Home Page</title>
  <!-- Add your preferred CSS styles here -->
  
</head>
<body>
  <%- include("component/header",{username:username,profilePic:profilePic})%>
  <!-- <header>
    <h1>TODO APP</h1>
  </header> -->
 
  
  

  <main>
    <h2>Welcome to TODO Home</h2>
    <!-- Add your content here -->
  </main>
</body>
</html>
